.signup {
    position: absolute;
    left: 50%;
    background-color: #fff;
    width: 432px;
    display: none;
    top: 50%;
    z-index: 222;
    padding-bottom: 18px;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

.same{
    background-color: #f5f6f7;
    border-radius: 5px;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 18px;
}

.top>div>h2 {
    font-size: 32px;
    font-weight: bold;
    font-family: sans-serif;
    transform: translateY(-20px);

}

.top>div>p {
    color: #606770;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    transform: translateY(-40px);
}


.signup_body {
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
}

.signup_form .same {
    padding: 10px;
    outline: none;
    width: 50%;
    font-size: 15px;

}

.name {
    display: flex;
    gap: 10px;
    margin: 15px 0;
    font-size: 15px;
}
.Rxbutton{
    height: 24px;
    width: 24px;
    background:url(../image/zgulV2zGm8t.png);
    transform: translateY(-40px);
    cursor: pointer;
}

.bottom input {
    padding: 10px;
    width: 97%;
    margin-bottom: 15px;
    font-size: 15px;
    background-color: #f5f6f7;
    border-radius: 5px;
    
}

.birthday {
    padding: 0 15px;
}

.birthday select {
    padding: 7px 35px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.458);

}

.date {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}
#day,#month,#year{
    background-color: #fff;
}

.gender {
    padding: 5px;
}

.person {
    display: flex;
    justify-content: space-between;
    margin-top: 3px;

}

.person>div {
    border: 1px solid rgba(0, 0, 0, 0.458);
    padding: 7px;
    display: flex;
    font-size: 16px;
    gap: 15px;
    border-radius: 3px;
}

.person label {
    margin-right: 10px;
}

.content {
    padding: 0 15px;
}

.content p {
    margin: 10px 0;
    font-size: 12px;
    font-family: sans-serif;
}

.text {
    font-size: 12px;
    font-family: sans-serif;
}

.singup {
    height: 36px;
    width: 194px;
    background-color: #42b72a;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
}
.blue{
    color: #1877f2;
}

.show{
    display: block;
}

.layer{
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 22;
    opacity: 0.7;
    display: none;
}
hr{
    border-top: none;
    margin-top: -50px;
}